body {
  font-family: "Source Code Pro";
}

h2 {
  text-decoration: underline;
}

.logo {
  white-space: pre;
  color: #660066;
  white-space-collapsing: discard;
  font-weight: bold;
  font-size: 10px;
}